GOOGLE_SHEET_ID=abcdefghijklmnopqrstuvwxyz012345678901234567
VITE_ASSETS_BASE_URL=https://imivi.github.io/arknights-pulls-calculator/ # Must include the final slash
# VITE_ASSETS_BASE_URL=http://localhost:5173/ # Use this for development