body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

pre {
    overflow: auto;
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

[data-show-global=false] {
    display: none;
}

label {
    cursor: inherit;
}