body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

pre {
    max-height: 500px;
    overflow: auto;
    background-color: #eee;
    border: 1px solid #ddd;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}