@use "../styles/colors.scss";


.App {
    overflow: hidden;
    display: grid;
    row-gap: max(1vh, 20px);
    grid-template-rows: auto 1fr auto;

    background-color: colors.$window-bg-light;
    color: colors.$window-text-light;

    &[data-dark=true] {
        background-color: colors.$window-bg-dark;
        color: colors.$window-text-dark;
    }


}

.message_box {
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba($color: black, $alpha: 0.2);
    gap: .5em;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: min(26rem, 90vw);

    background-color: colors.$table-header-bg-light;

    &[data-dark=true] {
        background-color: colors.$table-header-bg-dark;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .5em;
    }

    legend {
        display: flex;
        align-items: center;
    }

    .tips {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
    }

    ul {
        list-style: disc;
        padding: 0;
        padding-left: 1em;
        margin: 0;
        line-height: 1.5em;
        display: grid;
        row-gap: .5em;
    }

    li {
        // display: flex;
        // align-items: center;
        // gap: .5em;
    }

    // Style the bold text like the pull counter
    strong {
        padding: .2em .4em;
        border-radius: 5px;

        &[data-dark=true] {
            background-color: colors.$table-cell-pulls-bg-even-dark;
            color: colors.$table-cell-pulls-text-dark;
        }

        &[data-dark=false] {
            background-color: colors.$table-cell-pulls-bg-even-light;
            color: colors.$table-cell-pulls-text-light;
        }
    }


}

header.Header {
    position: relative;
    top: 0;
    font-weight: normal;
    z-index: 9;
    box-shadow: 0 0 5px rgba($color: black, $alpha: 0.2);

    background-color: colors.$table-header-bg-light;
    color: colors.$table-header-text-light;

    &[data-dark=true] {
        background-color: colors.$table-header-bg-dark;
        color: colors.$table-header-text-dark;
    }

    &>main {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        margin: 0 auto;

        &>img {
            max-height: 80px;
            top: 0;
            left: 0;
            z-index: 1;

            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    }

    h1 {
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 0.01em;
        margin: 10px;
        text-align: center;
        margin-right: auto;

        // color: #1f69a6;

        @media screen and (max-width:600px) {
            text-align: center;
            width: 100%;
        }
    }
}

.buttons {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}