.CertsPerDay {
    display: grid;
    gap: .5em;

    input {
        max-width: 3rem;
        text-align: center;
        border-radius: 2px;
        border: none;
        outline: none;
        padding: .2em;
        border: 1px solid rgba($color: black, $alpha: 0.2);
    }

    small {
        text-align: center;
        font-size: 0.8rem;
    }
}