@use "../styles/colors";

button.btn_open_menu {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-family: inherit;
}

.Content {
    z-index: 999;
    background-color: white;

    border-radius: 5px;
    box-shadow: 0 5px 15px rgba($color: black, $alpha: 0.2);

    display: grid;
    gap: 10px;

    main {
        padding: 10px;
        display: grid;
        gap: 10px;

        &[data-dark=false] button {
            color: colors.$popup-btn-light;
        }

        &[data-dark=true] button {
            color: colors.$popup-btn-dark;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    fieldset {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5px;

        $radius: 4px;

        // button {
        //     border-radius: 0;
        //     background-color: rgba($color: black, $alpha: 0.1);
        //     border: 1px solid rgba($color: black, $alpha: 0.1);
        //     transition: 50ms;
        //     cursor: pointer;
        //     min-width: 2.5em;
        //     padding: .2em .4em;
        //     border-radius: $radius;
        //     height: 1.4rem;
        //     border-radius: .7rem;
        //     display: flex;
        //     align-items: center;
        // }

        // button:hover {
        //     background-color: rgba($color: black, $alpha: 0.05);
        //     transition: 50ms;
        // }

        // button:active {
        //     background-color: rgba($color: black, $alpha: 0.15);
        //     transition: 50ms;
        // }
    }

    label {
        display: flex;
        align-items: center;
        gap: .2em;
    }

    input[type=number] {
        background-color: rgba($color: black, $alpha: 0.1);
        border: 1px solid rgba($color: black, $alpha: 0.1);
        padding: .2em .4em;
        text-align: right;
        min-width: 2em;
        border-radius: 5px;
    }

    // Remove spinbox
    input[type=number] {
        appearance: textfield;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-moz-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-moz-inner-spin-button {
        display: none;
    }

    footer {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        background-color: rgba($color: black, $alpha: 0.05);
    }

    &:focus {
        box-shadow:
            hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
            hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
            0 0 0 2px var(--violet-7);
    }

    &[data-state="open"][data-side="top"] {
        animation-name: slideDownAndFade;
    }

    &[data-state="open"][data-side="right"] {
        animation-name: slideLeftAndFade;
    }

    &[data-state="open"][data-side="bottom"] {
        animation-name: slideUpAndFade;
    }

    &[data-state="open"][data-side="left"] {
        animation-name: slideRightAndFade;
    }
}

.Arrow {
    fill: white;
}

.IconButton {
    all: unset;
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--violet-11);
    background-color: white;
    box-shadow: 0 2px 10px var(--black-a7);

    &:hover {
        background-color: var(--violet-3);
    }

    &:focus {
        box-shadow: 0 0 0 2px black;
    }
}

.Fieldset {
    all: unset;
    display: flex;
    gap: 20px;
    align-items: center;
}

.Label {
    font-size: 13px;
    color: var(--violet-11);
    width: 75px;
}

.Input {
    all: unset;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 1;
    color: var(--violet-11);
    box-shadow: 0 0 0 1px var(--violet-7);
    height: 25px;

    &:focus {
        box-shadow: 0 0 0 2px var(--violet-8);
    }
}

.Text {
    margin: 0;
    color: var(--mauve-12);
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
}

@keyframes slideUpAndFade {
    from {
        opacity: 0;
        transform: translateY(2px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightAndFade {
    from {
        opacity: 0;
        transform: translateX(-2px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDownAndFade {
    from {
        opacity: 0;
        transform: translateY(-2px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftAndFade {
    from {
        opacity: 0;
        transform: translateX(2px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}