@use "../styles/colors.scss";

.ResourceBadge {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: .9em;
    padding: 0 .4em;
    border-radius: 1em;
    min-height: 1.6em;
    cursor: pointer;
    text-align: center;

    &[data-resource=orundum][data-dark=false] {
        background-color: colors.$badge-orundum-bg-light;
        color: colors.$badge-orundum-text-light;
    }

    &[data-resource=orundum][data-dark=true] {
        background-color: colors.$badge-orundum-bg-dark;
        color: colors.$badge-orundum-text-dark;
    }

    &[data-resource=tickets][data-dark=false] {
        background-color: colors.$badge-ticket-bg-light;
        color: colors.$badge-ticket-text-light;
    }

    &[data-resource=tickets][data-dark=true] {
        background-color: colors.$badge-ticket-bg-dark;
        color: colors.$badge-ticket-text-dark;
    }

    &[data-resource=op][data-dark=false] {
        background-color: colors.$badge-op-bg-light;
        color: colors.$badge-op-text-light;
    }

    &[data-resource=op][data-dark=true] {
        background-color: colors.$badge-op-bg-dark;
        color: colors.$badge-op-text-dark;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 1.6em;
        text-align: left;
    }
}