.Settings {
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
    border: none;
    padding: 0;

    @media screen and (max-width:600px) {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    img {
        margin: 5px;
    }

    &>small {
        grid-column: 1 / 4;
        text-align: center;
        opacity: 0.5;
        font-style: italic;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px;
        min-width: 7rem;

        @media screen and (max-width: 600px) {
            min-width: 5rem;
        }
    }

    input {
        font-size: inherit;
        max-width: 4.5rem;
        margin-right: .4em;
        text-align: center;
        border: none;
        // background-color: #eee;
        border-radius: 3px;
        // box-shadow: 0 2px 5px rgba($color: black, $alpha: 0.2);
        background: none;
        border: none;
        color: inherit;
    }

    label:nth-child(1) {
        background-color: rgb(236, 205, 205);
        color: brown;
    }

    label:nth-child(2) {
        background-color: rgb(181, 220, 138);
        color: rgb(60, 92, 4);
    }

    label:nth-child(3) {
        background-color: rgb(245, 211, 158);
        color: rgb(118, 82, 6);
    }

    // Monthly card
    label:nth-child(4) {
        background-color: #ddd;
        color: #555;
        cursor: pointer;
        padding-right: 10px;

        input {
            width: 20px;
            height: 20px;
            margin: 10px;
        }
    }
}