// $header-height: 6rem;

.App {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;

    header {
        position: relative;
        background-color: #f4f4f4;
        top: 0;
        font-weight: normal;
        z-index: 9;

        &>main {
            max-width: 1200px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            margin: 0 auto;

            &>img {
                max-height: 80px;
                top: 0;
                left: 0;
                z-index: 1;

                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }

        h1 {
            font-family: "Inter", Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            color: #1f69a6;
            font-weight: normal;
            letter-spacing: 0.01em;
            margin: 10px;
            text-align: center;
            margin-right: auto;

            @media screen and (max-width:600px) {
                text-align: center;
                width: 100%;
            }
        }

    }

    .table_container {
        overflow-y: auto;
        height: 100%;
    }

    thead {
        position: sticky;
        top: 0;

        th {
            text-align: center;
        }
    }
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 2vh;


    thead {
        position: sticky;
        top: 0;
        z-index: 3;

        tr {
            background-color: #eee;
        }
    }

    th>span {
        display: flex;
        align-items: center;
        gap: .5em;
    }

    th,
    td {
        padding: .2em .4em;
        position: relative;
    }

    th {
        background-color: #eee;
        border: 1px solid #ccc;
        text-align: center;

        &>span {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and (max-width: 600px) {
            .caption {
                font-size: 0;
            }
        }
    }

    th:nth-child(6),
    th:nth-child(7) {
        text-align: left;
    }

    th:last-child {
        text-align: center;
    }

    tr:nth-child(odd) td {
        background-color: #f0f0f0;
    }

    td[data-column=event] {
        max-width: 10rem;
        overflow: hidden;
        padding: 0;

        &>label {
            position: relative;
            z-index: 1;
            color: white;
            background-color: rgba($color: white, $alpha: 0.8);
            // text-shadow: 0 3px 10px rgba($color: black, $alpha: 0.1);
            display: flex;
            flex-direction: column;
            // opacity: 0.5;

            span {
                padding: .5em;
            }
        }
    }

    td[data-resource=orundum] {
        color: brown;
    }

    td[data-resource=tickets] {
        color: darkgreen;
        text-align: left;
    }

    td[data-resource=op] {
        color: coral;
    }
}

footer {
    // background-color: #eee;
    // padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: 2vh;
    line-height: 1.5em;

    .notes {
        max-width: 30rem;
        background-color: #f5f5f6c2;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid #ddd;
        box-shadow: 0 5px 10px rgba($color: black, $alpha: 0.1);

        h2 {
            margin: 0;
            text-align: center;
        }
    }

    button {
        z-index: 2;
    }

    // span {
    //     display: flex;
    //     place-content: center;
    //     place-items: center;
    //     gap: 12px;
    // }

    p {
        margin: 10px;
    }

    a {
        text-decoration: none;
        color: #0c4c64;
        border-bottom: 2px solid #abc1c9;
    }

    img {
        width: 30px;
    }

    &::after {
        background-image: url("/bg/lambda.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;
        top: 0;
        left: 10px;
        width: 100px;
        height: 100%;

        z-index: 1;
        content: "";
        // outline: 1px solid brown;

        z-index: -1;
    }
}